In [1]:
# Project Data part 1

In [2]:
import pandas as pd
import numpy as np
from pathlib import Path

In [3]:
ds = pd.read_csv('OppScrData.csv')
ds.head()

,Record ID,Visit ID,PT ID,Clinical F/U interval [d from CT],BMI,BMI >30,Sex,Age at CT,Tobacco,Alcohol abuse,...,TAT Area (cm2),Total Body Area EA (cm2),VAT Area (cm2),SAT Area (cm2),VAT/SAT Ratio,Muscle HU,Muscle Area (cm2),L3 SMI (cm2/m2),AoCa Agatston,Liver HU (Median)
0,3323,357,3588,5179,26.9,N,Male,65,Yes,NaN,...,NaN,NaN,NaN,NaN,NaN,47.9,126.7,40.1,803.9,60
1,3003,358,3406,5201,33.7,Y,Male,64,No,NaN,...,NaN,NaN,NaN,NaN,NaN,15.8,205.9,55.2,3759.6,62
2,3790,359,3869,5193,27.3,N,Male,59,No,NaN,...,NaN,NaN,NaN,NaN,NaN,33.0,190.4,53.9,0.0,51
3,5338,360,4877,938,28.9,N,Male,61,NaN,NaN,...,416.7,713.4,258.5,158.2,1.63,39.0,202.1,71.9,1071.3,58
4,5400,362,4917,0,25.3,N,Male,70,NaN,NaN,...,394.5,684.5,214.9,179.5,1.2,36.2,167.2,52.9,3505.9,55

In [4]:
Clinical_Data = ds.iloc[0:9223,3:14]
Clinical_Data.head(10)

,Clinical F/U interval [d from CT],BMI,BMI >30,Sex,Age at CT,Tobacco,Alcohol abuse,FRS 10-year risk (%),FRAX 10y Fx Prob (Orange-w/ DXA),FRAX 10y Hip Fx Prob (Orange-w/ DXA),Met Sx
0,5179,26.9,N,Male,65,Yes,NaN,12%,5.47,0.97,N
1,5201,33.7,Y,Male,64,No,NaN,10%,4.43,0.54,NaN
2,5193,27.3,N,Male,59,No,NaN,8%,4.94,0.46,N
3,938,28.9,N,Male,61,NaN,NaN,X,6.25,0.67,N
4,0,25.3,N,Male,70,NaN,NaN,X,6.27,1.38,N
5,5046,33.9,Y,Male,58,Yes,NaN,10%,4.11,0.42,N
6,0,44.9,Y,Male,54,NaN,NaN,X,2.3,0.07,NaN
7,2700,27.2,N,Male,53,Yes,NaN,4%,3.56,0.23,N
8,4337,NaN,NaN,Male,61,No,NaN,6%,_,_,N
9,4664,28.9,N,Male,50,Yes,NaN,6%,2.72,0.15,N

In [5]:
# Clinical F/U interval [d from CT]
Clinical_Data.loc[ds['Clinical F/U interval  [d from CT]'] < 20, 'Clinical F/U interval  [d from CT]'] = 0
Clinical_Data.loc[((ds['Clinical F/U interval  [d from CT]']) >= 30) & ((ds['Clinical F/U interval  [d from CT]']) < 180), 'Clinical F/U interval  [d from CT]'] = 1 # 1-6 month
Clinical_Data.loc[((ds['Clinical F/U interval  [d from CT]']) >= 180) & ((ds['Clinical F/U interval  [d from CT]']) < 365), 'Clinical F/U interval  [d from CT]'] = 2 # 0.5-1 years
Clinical_Data.loc[((ds['Clinical F/U interval  [d from CT]']) >= 365) & ((ds['Clinical F/U interval  [d from CT]']) < 1095), 'Clinical F/U interval  [d from CT]'] = 3 # 1-3 years
Clinical_Data.loc[((ds['Clinical F/U interval  [d from CT]']) >= 1095) & ((ds['Clinical F/U interval  [d from CT]']) < 1825), 'Clinical F/U interval  [d from CT]'] = 4 # 3-5 years
Clinical_Data.loc[((ds['Clinical F/U interval  [d from CT]']) >= 1825) & ((ds['Clinical F/U interval  [d from CT]']) < 2555), 'Clinical F/U interval  [d from CT]'] = 5 # 5-7 years
Clinical_Data.loc[((ds['Clinical F/U interval  [d from CT]']) >= 2555) & ((ds['Clinical F/U interval  [d from CT]']) < 3650), 'Clinical F/U interval  [d from CT]'] = 6 # 7-10 years
Clinical_Data.loc[((ds['Clinical F/U interval  [d from CT]']) >= 3650) & ((ds['Clinical F/U interval  [d from CT]']) < 4380), 'Clinical F/U interval  [d from CT]'] = 7 # 7-12 years
Clinical_Data.loc[ds['Clinical F/U interval  [d from CT]'] < 5475, 'Clinical F/U interval  [d from CT]'] = 8 # 12-15 years

# BMI
Clinical_Data.loc[ds['BMI'] < 20, 'BMI'] = 0
Clinical_Data.loc[((ds['BMI']) >= 20) & ((ds['BMI']) < 30), 'BMI'] = 1
Clinical_Data.loc[((ds['BMI']) >= 30) & ((ds['BMI']) < 40), 'BMI'] = 2
Clinical_Data.loc[((ds['BMI']) >= 40) & ((ds['BMI']) < 50), 'BMI'] = 3
Clinical_Data.loc[((ds['BMI']) >= 50) & ((ds['BMI']) < 60), 'BMI'] = 4
Clinical_Data.loc[((ds['BMI']) >= 60) & ((ds['BMI']) < 70), 'BMI'] = 5
Clinical_Data.loc[((ds['BMI']) >= 70), 'BMI'] = 6

# BMI >30
Clinical_Data.loc[ds['BMI >30'] == 'N', 'BMI >30'] = 0
Clinical_Data.loc[ds['BMI >30'] == 'Y', 'BMI >30'] = 1
Clinical_Data['BMI >30'] = Clinical_Data['BMI >30'].fillna('-') # -: Missing/not know


# Sex
Clinical_Data.loc[ds['Sex'] == 'Female', 'Sex'] = 0
Clinical_Data.loc[ds['Sex'] == 'Male', 'Sex'] = 1

# Age at CT: Nomal Values(18.5 to 24.9)
Clinical_Data.loc[ds['Age at CT'] < 18.5, 'Age at CT'] = 0
Clinical_Data.loc[((ds['Age at CT']) >= 18.5) & ((ds['Age at CT']) < 24.9), 'Age at CT'] = 1
Clinical_Data.loc[((ds['Age at CT']) >= 24.9) & ((ds['Age at CT']) < 50), 'Age at CT'] = 2
Clinical_Data.loc[((ds['Age at CT']) >= 50) & ((ds['Age at CT']) < 60), 'Age at CT'] = 3
Clinical_Data.loc[((ds['Age at CT']) >= 60) & ((ds['Age at CT']) < 70), 'Age at CT'] = 4
Clinical_Data.loc[((ds['Age at CT']) >= 70) & ((ds['Age at CT']) < 80), 'Age at CT'] = 5
Clinical_Data.loc[ds['Age at CT'] > 80, 'Age at CT'] = 6

# Tobacco
Clinical_Data.loc[ds['Tobacco'] == 'No', 'Tobacco'] = 0
Clinical_Data.loc[ds['Tobacco'] == 'Yes', 'Tobacco'] = 1
Clinical_Data['Tobacco'] = Clinical_Data['Tobacco'].fillna('-') # -: Missing/not know

# Alcohol abuse	
Clinical_Data.loc[~Clinical_Data['Alcohol abuse'].isnull()] = 1 # 1: Has any kind of Alcohol abuse
Clinical_Data['Alcohol abuse'] = Clinical_Data['Alcohol abuse'].fillna(0) # 0: No Alcohol abuse (or Missing/not know)


# FRS 10-year risk (%)
Clinical_Data['FRS 10-year risk (%)'] = Clinical_Data['FRS 10-year risk (%)'].astype(str)
Clinical_Data['FRS 10-year risk (%)'] = Clinical_Data['FRS 10-year risk (%)'].str.replace("%", "")
Clinical_Data['FRS 10-year risk (%)'] = Clinical_Data['FRS 10-year risk (%)'].str.replace("<1", "0.5") # switch <1 to 0.5
Clinical_Data['FRS 10-year risk (%)'] = Clinical_Data['FRS 10-year risk (%)'].str.replace(">30", "5000") # >30 is 5000
Clinical_Data['FRS 10-year risk (%)'] = Clinical_Data['FRS 10-year risk (%)'].str.replace("X", "10000") # X is 10000
Clinical_Data['FRS 10-year risk (%)'] = Clinical_Data['FRS 10-year risk (%)'].astype(float)
Clinical_Data.loc[(Clinical_Data['FRS 10-year risk (%)']) < 5, 'FRS 10-year risk (%)'] = 0
Clinical_Data.loc[((Clinical_Data['FRS 10-year risk (%)']) >= 5) & ((Clinical_Data['FRS 10-year risk (%)']) < 10), 'FRS 10-year risk (%)'] = 1
Clinical_Data.loc[((Clinical_Data['FRS 10-year risk (%)']) >= 10) & ((Clinical_Data['FRS 10-year risk (%)']) < 15), 'FRS 10-year risk (%)'] = 2
Clinical_Data.loc[((Clinical_Data['FRS 10-year risk (%)']) >= 15) & ((Clinical_Data['FRS 10-year risk (%)']) < 20), 'FRS 10-year risk (%)'] = 3
Clinical_Data.loc[(Clinical_Data['FRS 10-year risk (%)']) >= 20, 'FRS 10-year risk (%)'] = 4
Clinical_Data.loc[(Clinical_Data['FRS 10-year risk (%)']) == 5000, 'FRS 10-year risk (%)'] = 5
Clinical_Data.loc[(Clinical_Data['FRS 10-year risk (%)']) == 10000, 'FRS 10-year risk (%)'] = 6

# FRAX 10y Fx Prob (Orange-w/ DXA)
Clinical_Data['FRAX 10y Fx Prob (Orange-w/ DXA)'] = pd.to_numeric(Clinical_Data['FRAX 10y Fx Prob (Orange-w/ DXA)'], errors='coerce') # force string to NaN
Clinical_Data['FRAX 10y Fx Prob (Orange-w/ DXA)'] = Clinical_Data['FRAX 10y Fx Prob (Orange-w/ DXA)'].fillna(10000)
Clinical_Data.loc[(Clinical_Data['FRAX 10y Fx Prob (Orange-w/ DXA)']) < 5, 'FRAX 10y Fx Prob (Orange-w/ DXA)'] = 0
Clinical_Data.loc[((Clinical_Data['FRAX 10y Fx Prob (Orange-w/ DXA)']) >= 5) & ((Clinical_Data['FRAX 10y Fx Prob (Orange-w/ DXA)']) < 10), 'FRAX 10y Fx Prob (Orange-w/ DXA)'] = 1
Clinical_Data.loc[((Clinical_Data['FRAX 10y Fx Prob (Orange-w/ DXA)']) >= 10) & ((Clinical_Data['FRAX 10y Fx Prob (Orange-w/ DXA)']) < 15), 'FRAX 10y Fx Prob (Orange-w/ DXA)'] = 2
Clinical_Data.loc[((Clinical_Data['FRAX 10y Fx Prob (Orange-w/ DXA)']) >= 15) & ((Clinical_Data['FRAX 10y Fx Prob (Orange-w/ DXA)']) < 20), 'FRAX 10y Fx Prob (Orange-w/ DXA)'] = 3
Clinical_Data.loc[((Clinical_Data['FRAX 10y Fx Prob (Orange-w/ DXA)']) >= 20) & ((Clinical_Data['FRAX 10y Fx Prob (Orange-w/ DXA)']) < 25), 'FRAX 10y Fx Prob (Orange-w/ DXA)'] = 4
Clinical_Data.loc[(Clinical_Data['FRAX 10y Fx Prob (Orange-w/ DXA)']) > 25, 'FRAX 10y Fx Prob (Orange-w/ DXA)'] = 5


# FRAX 10y Hip Fx Prob (Orange-w/ DXA)
Clinical_Data['FRAX 10y Hip Fx Prob (Orange-w/ DXA)'] = pd.to_numeric(Clinical_Data['FRAX 10y Hip Fx Prob (Orange-w/ DXA)'], errors='coerce') # force string to NaN
Clinical_Data['FRAX 10y Hip Fx Prob (Orange-w/ DXA)'] = Clinical_Data['FRAX 10y Hip Fx Prob (Orange-w/ DXA)'].fillna(10000)
Clinical_Data.loc[(Clinical_Data['FRAX 10y Hip Fx Prob (Orange-w/ DXA)']) < 5, 'FRAX 10y Hip Fx Prob (Orange-w/ DXA)'] = 0
Clinical_Data.loc[((Clinical_Data['FRAX 10y Hip Fx Prob (Orange-w/ DXA)']) >= 2.5) & ((Clinical_Data['FRAX 10y Hip Fx Prob (Orange-w/ DXA)']) < 5), 'FRAX 10y Hip Fx Prob (Orange-w/ DXA)'] = 1
Clinical_Data.loc[((Clinical_Data['FRAX 10y Hip Fx Prob (Orange-w/ DXA)']) >= 5) & ((Clinical_Data['FRAX 10y Hip Fx Prob (Orange-w/ DXA)']) < 10), 'FRAX 10y Hip Fx Prob (Orange-w/ DXA)'] = 2
Clinical_Data.loc[(Clinical_Data['FRAX 10y Hip Fx Prob (Orange-w/ DXA)']) >= 5, 'FRAX 10y Hip Fx Prob (Orange-w/ DXA)'] = 3

# Met Sx
Clinical_Data['Met Sx'] = Clinical_Data['Met Sx'].fillna('-') # -: Missing/not know
Clinical_Data.loc[ds['Met Sx'] == 'N', 'Met Sx'] = 0
Clinical_Data.loc[ds['Met Sx'] == 'Y', 'Met Sx'] = 1

Clinical_Data.head(500)

,Clinical F/U interval [d from CT],BMI,BMI >30,Sex,Age at CT,Tobacco,Alcohol abuse,FRS 10-year risk (%),FRAX 10y Fx Prob (Orange-w/ DXA),FRAX 10y Hip Fx Prob (Orange-w/ DXA),Met Sx
0,8,1.0,0,1,4,1,0,2.0,1.0,0.0,0
1,8,2.0,1,1,4,0,0,2.0,0.0,0.0,-
2,8,1.0,0,1,3,0,0,1.0,0.0,0.0,0
3,8,1.0,0,1,4,-,0,4.0,1.0,0.0,0
4,8,1.0,0,1,5,-,0,4.0,1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
495,8,1.0,0,0,3,0,0,0.0,1.0,0.0,0
496,8,1.0,0,1,2,0,0,0.0,0.0,0.0,0
497,8,2.0,1,0,3,0,0,0.0,1.0,0.0,0
498,8,1.0,0,1,4,0,0,1.0,1.0,0.0,0
499,8,2.0,1,0,3,0,0,0.0,0.0,0.0,-

In [6]:
# Test for FRAX 10y Fx Prob (Orange-w/ DXA)
# Clinical_Data['FRAX 10y Fx Prob (Orange-w/ DXA)'] = pd.to_numeric(Clinical_Data['FRAX 10y Fx Prob (Orange-w/ DXA)'], errors='coerce') # force string to NaN
# Clinical_Data['FRAX 10y Fx Prob (Orange-w/ DXA)'] = Clinical_Data['FRAX 10y Fx Prob (Orange-w/ DXA)'].fillna(10000)
# print(Clinical_Data['FRAX 10y Fx Prob (Orange-w/ DXA)'])

# Clinical_Data.loc[(Clinical_Data['FRAX 10y Fx Prob (Orange-w/ DXA)']) < 5, 'FRAX 10y Fx Prob (Orange-w/ DXA)'] = 1 # 1-6 month
# print(Clinical_Data['FRAX 10y Fx Prob (Orange-w/ DXA)'])

In [7]:
# Clinical_Data["FRAX 10y Fx Prob (Orange-w/ DXA)"].describe()

In [8]:
feat_list = list(Clinical_Data.columns.values)

for feat in feat_list:
    print (feat,": ",sum(pd.isnull(Clinical_Data[feat])))

Clinical F/U interval  [d from CT] :  0
BMI :  120
BMI >30 :  0
Sex :  0
Age at CT :  0
Tobacco :  0
Alcohol abuse :  0
FRS 10-year risk (%) :  0
FRAX 10y Fx Prob (Orange-w/ DXA) :  0
FRAX 10y Hip Fx Prob (Orange-w/ DXA) :  0
Met Sx :  0

In [9]:
filepath = Path('./out.csv')
Clinical_Data.to_csv(filepath)